asgiref==3.5.2
distlib==0.3.6
Django==4.1.2
django-cors-headers==3.13.0
django-filter==22.1
djangorestframework==3.14.0
filelock==3.8.0
Markdown==3.4.1
platformdirs==2.5.2
pytz==2022.5
sqlparse==0.4.3
virtualenv==20.16.5
psycopg2==2.9.5